<h1><%= @question.title %></h1>

<p><%= @question.content %></p>

<ul>
  <li><%= link_to "Edit", edit_question_path(@question) %></li>
  <li><%= link_to "Destroy", question_path(@question), data: {turbo_method: :delete} %></li>
</ul>