<div class="flex flex-col justify-center items-center h-screen ">
  <div class="border p-6 rounded-lg shadow-lg text-center mb-4 ">
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">助けてもらう！</button>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">私が助ける！</button>
  </div>
</div>
