<div class="bg-blue-500 p-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold text-white">タスク管理アプリ</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="text-white">ホーム</a></li>
          <li><a href="#" class="text-white">タスク一覧</a></li>
          <li><a href="#" class="text-white">設定</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>